.header {
    grid-area: h;
    background-color: #56ccc8;
  }

  .header img {
    padding: 5px;
    border-radius: 50%;
  }

  .loginBlock {
      float: right;
  }

.loginBlock a {
    color: black;
    text-decoration: none;
}